@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Raleway', sans-serif;
}
   
   /* common css */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;

}

   
.primary-button{
    padding: 10px 15px ;
    border-radius: 7%;
    border: none;
    background-image: linear-gradient(90deg, #f500ab, #f70b8d );
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 5px 0 #d10575;
}

.primary-button:active{
    top:5px;
    box-shadow: 0 2px 0 #d10575;
}

.highLight{
    color: #fa51ae;
    font-size: 30px;
    font-weight: 900;
}

header{
    height: fit-content;
    background-image: url(../cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: overlay;

    
}
nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
}
 

#nav-toggler{
    display: none;
   }

   .nav-toggler-icon{
    display: none;
   }


li{
    display: inline-block;
    margin-right: 40px;
}

ul{
    list-style: none;
   
}

.navigation a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 15px 20px;
    cursor: pointer;
    
}

.banner{
    height: calc(100vh-80px);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-banner{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.left-banner h1{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.banner-content{
    line-height: 2;
    color: white;
}

.right-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-banner img{
    width: 90%;
}

.section-title{
    text-align: center;
 }

.section-title h2{
    font-size: 30px;
    border-bottom: 2px solid #d10575;
    text-transform: uppercase;
    display: inline-block;
    margin: 50px 0;
    text-align: center;
}

  /* feature part css */

.feature{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 20px 10px;
   
   
   
}

.card{
   width: 250px;
   height: 350px;
   text-align: start;
   line-height: 2;
   box-shadow: 0 15px  20px rgb(231, 209, 209);
   padding: 10px 20px;
   margin: 0 auto;
  
}

.card a{
   color: #9c046fd2;
   font-weight: 600;
}

.card h3{
    color: #c2068ad2;
}

.card-icon{
  height: 50px;
  width: 50px;
  color: rgb(185, 7, 117);
  margin-top: 7px;
 
}

  /* gallery */

.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px 10px;
   
   
   
}

.photo{
   width: 300px;
   height: 200px;
   box-shadow: 0 15px  20px rgb(231, 209, 209);
   margin: 0 auto;
   border: 3px solid crimson;
  
}

.photo img{
    width:100%;
    height: 100%;
}

/* contact */
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
   
}

.contact-picture img{
    width: 100%;
}

.contact-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.contact-form form{
     display: grid;
     grid-template-columns: repeat(1,1fr);
     grid-gap: 15px 0px;
     width: 100%;
     font-size: 18px;

     


}



.text-field{
    width: 100%;
    padding: 10px 10px;
    font-family: 'Raleway';
    outline: 0;
    border: 1px solid #c2068ad2 ;
}

Footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* responsive */
@media (max-width:950px){
 .gallery{
    grid-template-columns: repeat(2,1fr);
 }

 .feature{
    grid-template-columns: repeat(2,1fr);
    
}



}

@media (max-width:800px){
     
    .nav-toggler-icon{
        display: block;
        color: white;
        font-size: 30px;
    }

    .navigation{
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        align-items: center;
        background-color: white;
        padding-bottom: 20px;
        transform: translateY(-400px);
        transition: .7s ease-in-out;
        
       
    }

    .navigation li{
        display: block;
        margin-top: 40px;
        margin-left: 20px;
        text-align: center;
       
    }

    .navigation li a{
        color: black;
       
    }

    #nav-toggler:checked~.navi .navigation{
        transform: translateY(0px);
    }
   
    .banner{
        grid-template-columns: repeat(1,1fr);
        height: fit-content;
        width: fit-content;
        
    }

   .left-banner{
    order: 2;
   }

   .feature{
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
   

   }

   .gallery{
    grid-template-columns: repeat(1,1fr);
   
    text-align: center;
   }
   
    .contact{
        grid-template-columns: repeat(1,1fr);

        text-align: center;

    }
   
   
   }

   @media (max-width:400px){
    .banner{
        text-align: center;
        width: fit-content;
    }

    .photo{
        text-align: center;
    }

    .contact{
        text-align: center;
        width: fit-content;
    }
   }

  